body{
    width: 1900px;
    height: auto;
    position: relative;
   
}
div.bird{ 
    font-family: 'Montserrat';
    font-weight: 400;
    width: 1900px;
    height: 1000px;
    position: relative;
    display: inline-block;

}

.mogo{
    color:white;
    font-size: 30px;
    position: absolute;
    top:0px;
    padding-top: 30px;
    padding-left: 360px;
    display: inline-block;
   

    
 
  
}
.about{
    
    color:#fce38a;
    font-size: 14px;
    position: absolute;
    top:0px;
    padding-top: 40px;
    padding-left: 941px;
    display: inline-block;
  

    
    
}

.service {
    color:white;
    font-size: 14px;
    position: absolute;
    top:0px;
    padding-top: 40px;
    padding-left: 1045px;
    display: inline-block;
    

    
    
}
.work {
    color:white;
    font-size: 14px;
    position: absolute;
    top:0px;
    padding-top: 40px;
    padding-left: 1163px;
    display: inline-block;
 

    
    
}
.blog {
    color:white;
    font-size: 14px;
    position: absolute;
    top:0px;
    padding-top: 40px;
    padding-left: 1267px;
    display: inline-block;

}
.contact {
    color:white;
    font-size: 14px;
    position: absolute;
    top:0px;
    padding-top: 40px;
    padding-left: 1361px;
    display: inline-block;
    
}
.contact {
    color:white;
    font-size: 14px;
    position: absolute;
    top:0px;
    padding-top: 40px;
    padding-left: 1361px;
    display: inline-block;
    
}
.bag {
    color:white;
    font-size: 14px;
    position: absolute;
    top:0px;
    padding-top: 40px;
    padding-left: 1485px;
    display: inline-block;
    
}
.loup {
    color:white;
    font-size: 14px;
    position: absolute;
    top:0px;
    padding-top: 40px;
    padding-left: 1543px;
    display: inline-block;
    
}
.line{
    display: inline-block;
    width: 52px;
    height: 3px;
    background-color: #fce38a;
    margin-left:941px ;
    top:61px;
    position: absolute;
}


.creative{
    display: inline-block;
    font-family:"Kaushan Script";
    font-size: 72px;
    color: white;
    padding-left: 713px;
    padding-bottom: 43px;
    top: 225px;
    position: absolute;

}
.welcome{
    display: inline-block;
    font-family:"Montserrat";
    font-weight: 700;
    font-size: 150px;
    color: white;
    padding-left: 548px;
    padding-bottom: 43px;
    top: 357px;
    position: absolute;   

}
.to{
    display: inline-block;
    font-family:"Montserrat";
    font-weight: 700;
    font-size: 150px;
    color: white;
    padding-left: 576px;
    padding-bottom: 71px;
    top: 496px;
    position: absolute;   

}
.line1{
    display: inline-block;
    width: 61px;
    height: 3px;
    background-color: white;
    margin-left: 930px;
    position: absolute;
    top:677px;
   
   
}
.learn{
    font-family:"Montserrat";
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: white;
    display: inline-block;
    width: 162px;
    height: 42px;       
    line-height: 42px;
    border: 3px solid white;
    margin-left: 878px;
    position: absolute;
    top:730px;
    margin-bottom: 157px;
   
   
}
.number{
    width: 1214px;
    height: 75px;
   
   
}
.intro01{
    font-family:"Montserrat";
    font-size: 16px;
    text-align: left;
    width: 282px;
    color: #f7eac4;
    display: inline-block; 
    line-height: 75px; 
    border-top:3px solid white ;
    position: absolute;
    top:927px;
    margin-left:360px ;
   
}
.intro01 span{
    font-size: 20px;
    font-weight: 700;
}
.work02{
    font-family:"Montserrat";
    font-size: 16px;
    text-align: left;
    width: 282px;
    color: #f7eac4;
    display: inline-block; 
    line-height: 75px; 
    border-top:3px solid #f7eac4 ;
    position: absolute;
    top:927px;
    margin-left:670px ;
   
}
.work02 span{
    font-size: 20px;
    font-weight: 700;
}
.about03{
    font-family:"Montserrat";
    font-size: 16px;
    text-align: left;
    width: 282px;
    color: #f7eac4;
    display: inline-block; 
    line-height: 75px; 
    border-top:3px solid #f7eac4;
    position: absolute;
    top:927px;
    margin-left:980px ;
   
}
.about03 span{
    font-size: 20px;
    font-weight: 700;
}
.contacts04{
    font-family:"Montserrat";
    font-size: 16px;
    text-align: left;
    width: 282px;
    color: #f7eac4;
    display: inline-block; 
    line-height: 75px; 
    border-top:3px solid #f7eac4 ;
    position: absolute;
    top:927px;
    margin-left:1290px ;
   
}
.contacts04 span{
    font-size: 20px;
    font-weight: 700;
}
.intro011{
    width: 72px;
    border-top: 3px solid #f38181;
    position: absolute;
    margin-left:360px ;
    top:927px;
}
.what1{
    width: 1900px;
    height: 420px;
    background-color: white;
}
.whatwe{
    font-family: "Kaushan Script";
    font-size: 24px;
    padding-top:92px;
    text-align: center;
}
.story{
    
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 30px;
    padding-top:25px;
    padding-bottom:42px;
    text-align: center;
}
.line3{
    display: inline-block;
    width: 62px;
    border-top:3px solid #f38181  ;
    margin-left: 930px;
}
.lorem{
    font-family: 'Roboto';
    font-size: 15px;
    color:#cccccc;
    text-align: center;
    padding-top:47px;
}
.bloks{
   width: 1212px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding-left: 347px;
    padding-bottom: 111px;
     
}
.blue{
    position: absolute;
    bottom:10px;
    right:35px;

}
.pic1{
position: relative;
}
.users{
    position: absolute;
    top:90px;
    left:170px; 
    text-align: center;
}
.superteam{

    position: absolute;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 18px;
    color:white;
    text-align: center;
    top:130px;
    left:120px; 

}
.date1{
    width: 1900px;
    height: 269px;
    background-color:#95e1d3;
}
.date2{
    width: 1213px;
    height: 110px;
    padding-left: 433px;
    padding-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}


.numb1{
    font-family: "Montserrat";
    font-size: 72px;
    font-weight: 700;
    color:white;
  
}
.date3{
    width: 1230px;
    height: 35px;
    padding-left: 391px;
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}
.text1{
    font-family: "Montserrat";
    font-size: 14px;
    color:white;
    padding-left: 30px;
   
  
}
.text1_1{
    font-family: "Montserrat";
    font-size: 14px;
    color:white;
    
   
  
}
.wework{
    width:1900px ;
    height: 649px;
    background-color: white;
}
.ww{
    font-family: "Kaushan Script";
    font-size: 24px;
    text-align: center;
    padding-top: 109px;
}
.amazing{
    font-family:"Montserrat";
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding-top: 24px;
}
.line4{
    display: inline-block;
    width: 62px;
    border-top:3px solid #f38181  ;
    margin-left: 930px;
    margin-top: 43px;
    margin-bottom: 63px ;
}
.pict3{
    width: 1145px;
    height: 125px;
    padding-left: 391px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr ;

}
.ril{
    display: inline-block;
    
    
}
.alarm{
    padding-right: 28px;
    float: left;
}
.phot{
    font-family: "Montserrat";
    font-size: 14px;
    float: left;
    color: black;
   
}
.lor{
    display: inline-block;
    font-family: 'Roboto';
    font-size: 15px;
    color:#cccccc;
    text-align: left;
    padding-top:15px;
}
.phone{
    width: 1900px;
    height: 854px;
    position: relative;
    display: inline-block;
    
}
.plan{
    display: inline-block;
    position: absolute;
    bottom: 20px;
    left: 690px;
    padding:0;
}
.iphone{
    display: inline-block;
    position: absolute;
    bottom:-68px ;
    left: 1090px;

}
.for{
    font-family: "Kaushan Script";
    font-size: 24px;
    display: inline-block;
    position: absolute;
    top:107px;
    left:897px;
}
.uniq{
    font-family:"Montserrat";
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
    position: absolute;
    top:157px;
    left:836px;
    

}

.line5{
    display: inline-block;
    position: absolute;
    width: 62px;
    border-top:3px solid #f38181  ;
    margin-left: 930px;
    top:220px;
 
   
}
.service1{
    width: 1900px;
    height: 440px;
    background-color: white; 
}
.block3{
    width: 1900px;
    height: 440px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    

}
.men{
    padding-right:150px ;
   
    
}
.lineone{
    width: 560px;
    height: 63px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border:1px solid #cccccc;
    padding-right: 20px;
    padding-left: 20px;
    float: right;
    
}



.pic4{
    float: left;
    padding-right: 15px;
    padding-top: 15px;
  
}
.phot2{
    line-height:63px;
}
.arr{
    justify-content: flex-end;
}
.column{
    width: 600px;
    height: 62px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border:1px solid #cccccc;
    border-bottom: none;
     
}
.loremt{
    font-size: "Roboto";
    font-style: italic;
    font-size: 15px;
    color:#cccccc;
    width: 560px;
    height: 181px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border:1px solid #cccccc;
    border-top: none;
    padding-right: 20px;
    padding-left: 20px;
    float: left;
    position: relative;
    margin: 0;
}
.hr{
    width: 2px;
    height: 143px;
    border-radius: 30%;
    background-color:#cccccc;
    position: relative;
}
.hr1{
    width: 2px;
    height: 92px;
    border-radius: 30%;
    background-color:#95e1d3;
    position: absolute;
    top:0px;
    right: 19px;
    
}
.phot3{
    height: 60px;
    width:580px ;
    line-height:63px;
    border:1px solid #cccccc;
    padding-right: 0px;
    padding-left: 20px;
    margin-top: 8px;
    
    
}

.pic5{
    position: relative;
    left: 0px;
   
}
.photi{ 
    padding-right: 410px;
    font-family: "Montserrat";
    font-size: 14px;
    color: black;
}
.photi1{ 
    padding-right: 392px;
    font-family: "Montserrat";
    font-size: 14px;
    color: black;
}
.jon{
    margin-top:123px ;
    width: 1900px;
    height: 293px;
    background-color: #f8f8f8;
    
    
   
   
}
.jon1{
    margin-top:123px ;
    width: 1600px;
    height: 293px;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding-left: 160px;
   
    
   
   
}
.lorem2{
    font-size: "Roboto";
    font-style: italic;
    font-size: 24px;
    color:#cccccc;
  
    
  
}
.bordpic{
    padding:50px;
    border:3px solid #95e1d3;
    float:left;
    margin-right: 60px;
}
.hrred{
    width: 62px;
    border-top:3px solid #f38181  ;
    margin-left: 0px;
    margin-top: 30px;
    display: inline-block;
    position: absolute;
   
   
}
.jon_t{
    clear: both;
    font-family: "Kaushan Script";
    font-size: 24px;
    display: inline-block;
    margin-left: 90px;
    margin-top:10px;
    padding-bottom: 25px;
   
  
}
.ot{
    width: 1900px;
    height: 93px;
    
}
.bloks2{
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 450px;

    
     
}
.people{
    font-family: "Montserrat";
    font-size:24px ;
   
}
.pictu1{
    margin-right: 70px;

}
.bloks3{
    font-family: "Roboto";
    font-style: italic;
    font-size: 15px;
    color:#cccccc;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 450px;

}
.pictu2{
    padding-left: 70px;
}
.imgrow{
    width: 1900px;
    height:200px;
    background-color:#f8f8f8;
    margin-top: 80px;
   
    

}
.row{
    width: 1100px;
    height: auto;
    margin-left: 390px;
    padding-top: 50px;
}
.padding1{
    width: 1900px;
    height: 110px;
}

.grid{
    width: 1900px;
    padding-top: 104px;
    display: grid;
    grid-template-columns: 480px 480px 480px 480px;
    grid-template-rows: 392px 392px  ;
   
}
.grid1{
    grid-column-start:3 ;
    grid-column-end: 4;
    grid-row-end:1;
    grid-row-end:2;
    position: relative;
    float: left;
}

.grid2{
    grid-column:4/4 ;
}
.jon2{
  
    width: 1900px;
    height: 293px;
    margin-top:80px;
    
}
.jon3{
 
    width: 1600px;
    height: 293px;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding-left: 160px;

   
}
.bordpic1{
    padding:50px;
    padding-top: 0;
    float:left;
    margin-right: 60px;
   
}
.phone{
    width: 1900px;
    height: 833px;
    position: relative;
    display: inline-block;
    
}
.line6{
    display: inline-block;
    position: absolute;
    width: 62px;
    border-top:3px solid #f38181  ;
    margin-left: 950px;
    top:220px;
 
}
.grap{
    font-size: "Roboto";
    font-style: italic;
    font-size: 15px;
    color:#cccccc;
    padding-top: 80px;
   
}

.phot6{
padding-top: 20px;
font-family: "Montserrat";
font-size: 14px;
display: inline-block;

color: black;
}
.pict8{
   
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding-top: 30px;
   
   
    
    
    
}
.lor1{
    display: inline-block;
    font-family: 'Roboto';
    font-size: 15px;
    color:#cccccc;
    text-align:left;
    padding-top:15px;
    
 
   

}
.phone5{
    width: 1920px;
    height: 833px;
    position: relative;
    display: inline-block;
    background-image:url(../img/Layer53.png) ;
    
}
.ril1{
    margin-top: 250px;
}
.ril2{
    margin-top: 100px;

}
.our{
    width: 1900;
    height: 350px;
}
.posi{
    width: 1800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
  
}
.img5{
    padding:30px;
}
.posi1{
   
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
  
}
.img6{
    position: relative;
    left:90px; 
    top: 210px;
}
.img7{
    position: relative;
    left:130px; 
    top: 210px;
}

.img8{
    position: relative;
    left:170px; 
    top: 210px;
}
.posi2{
    padding-top: 20px;
    font-family: "Montserrat";
font-size: 14px;
font-weight: 400;
color: black;
width: 1300px;
display: flex;
flex-direction: row;
justify-content: space-around;
margin-left:120px ;
position: relative;
}

.posi3{
    display: inline-block;
    font-family: 'Roboto';
    font-size: 15p;
    color:#cccccc;
    text-align:left;
    padding-top:15px;
    width: 930px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
     margin-left:220px ;
     position: relative;
}
.img9{
    position: relative;
    left:215px; 
    top: 210px;

}
.img10{
    position: relative;
    left:350px; 
    top: 210px;

}
.posi4{
    margin-top: 220px;
    position: relative;
    display: inline-block;
    display: flex;
    
    
}
.hr2{
   width: 382px;
   height: 2px; 
   background-color:#cccccc;
   border: none;
   position: relative;
   margin-left:270px ; 
  
  
}
.hr21{
    width: 382px;
    height: 2px; 
    background-color:#cccccc;
    border: none;
    position: relative;
    margin-left:60px ; 
   
   
 }
 .hr22{
    width: 382px;
    height: 2px; 
    background-color:#cccccc;
    border: none;
    position: relative;
    margin-left:60px ; 
   
   
 }
 .posi5{
    position: relative;
    display: inline-block;
    display: flex;
   
 }
.numb{
    display: inline-block;
    font-family: 'Roboto';
    font-style: italic;
    font-size: 15px;
    color:#cccccc;
    text-align:left;
    padding-top:15px;
  
}
.img11{
    width: 22px;
    padding-right: 10px;
    padding-left: 10px;
}
.img12{
    padding-right: 10px;
    padding-left: 10px;
  
    
}
.posis{
    position: relative;
    margin-left:260px ;  
}
.posis1{
    position: relative;
    margin-left:320px ;  
}
.posis2{
    position: relative;
    margin-left:330px ;  
}
.polos{
    margin-top: 100px;
    width: 1920px;
    height: 202px;
    position: relative;
    display: inline-block;
    background-image:url(../img/Layer59.png) ;

}
.map{
    padding-left: 950px;
    padding-top: 60px;
    position: relative;
}
.openmap{
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 700;
    color: #f38181;
    text-align: center;
    display: block;
    margin-top: 10px;
    position: relative;
}
.line6{
    display:inline-block;
   
    width: 62px;
    border-top:3px solid #f38181  ;
    margin-left: 930px;
    top:150px;
    position: absolute;
   
    
}
.menu1{
    display:inline-block;
    display: flex;
    
    width: 1900px;
    height: 120px;
    margin-top: 50px;
    margin-left: 30px;
}
.mogo1{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 46px;
    color: #cccccc;
    position: relative;
    margin-left: 50px;

}
.blogs1{
    font-family: "Montserrat";
    font-size: 14px;
    position: relative;
    padding-left: 430px;
    margin-top: 30px;
   
}
.insta1{
    font-family: "Montserrat";
    font-size: 14px;
    position: relative;
    padding-left: 510px;
    margin-top: 33px;
}
.lorem34{
    width: 1700px;
    margin-left: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
     

    
}
.lorem3{
    font-family: 'Roboto';
    font-size: 15px;
    color:#cccccc;
    text-align: left;
    padding-top:47px;
    display: block;
    width: 490px;
    height: 105px;
    position: relative;
    float: left;
}
.photo3{
    display: flex;
    
    display: inline-block;
  
}
.bloki{
    display: grid;
    grid-template-columns: 90px 90px 90px;
   grid-template-rows: 90px 90px 90px;
   margin: 0;
   padding: 0;
  
}
.more{
    font-family: 'Roboto';
    font-style: italic;
    font-size: 13px;
    color:black;
    display: inline-block;
    width: 150px; 
    height: 40px;
    margin-top: 20px; 
}
.onefive{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 18px;
    color:black;
    position: relative;
    top:60px;
  
   
}
.follow{
    font-family: "Montserrat";
    font-size: 14px;
    color:black;
    padding-left: 10px;
    position: relative;
    top:60px;
}
.hr5{
    width: 481px;
    height: 2px; 
    background-color:#cccccc;
    border: none;
    position: relative; 
    top:80px; 
    right: 47px;
}
.followus{
    font-family: 'Roboto';
    font-size: 15px;
    font-style: italic;
    color:#cccccc;  
    position: relative;
    top:90px; 
}
.imglast{
    position: relative;
    top:90px;
    margin-left: 10px; 
}
.email{
    width: 231px;
    height: 43px;
    font-family: 'Roboto';
    font-size: 15px;
    font-style: italic;
    color:#cccccc;  
    border:1px solid #cccccc;
    background-color: white;
    line-height: 43px;
    padding-left: 10px;
    position: relative;
    top:100px; 
    
}
.subs{
    width: 150px;
    height: 43px;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 700;
    color:white; 
    text-align: center; 
    background-color:#95e1d3 ;
    border:1px solid #95e1d3;
    line-height: 43px;
    position: relative;
    top:55px; 
    left:210px;

    
}
.hrlast{
    width: 1750px;
    height: 2px;
    background-color: #cccccc;
    border: none;
    margin-bottom: 20px;
}
.lastt{
    font-family: "Montserrat";
    font-size: 15px;
    display: block;
    width: 260px;
    position: relative;
    left: 150px;
    bottom:85px;
    
}
.lastdate{
    font-family: 'Roboto';
    font-size: 13px;
    font-style: italic;
    color:#cccccc; 
    position: relative;
    left: 150px;
    bottom:85px; 
}
.lastp{
    text-align: center;
}
.copyrite{
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 400;
    color: black;

}
.laaqiq{
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 400;
    color:#f38181;
}

















